# Ignore bundler config.
/.bundle
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.idea
.DS_Store

# rspec failure tracking
.rspec_status
